<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Regression Suite" verbose="1" configfailurepolicy="continue" parallel="none" thread-count="1">
    <listeners>
    </listeners>
    <test name="Regression">
        <classes>
            <class name="io.ctdev.AddProductsToBasketTest">
            </class>
            <class name="io.ctdev.AppTest">
            </class>
            <class name="io.ctdev.JuiceShopAddingSoldOutItemToBasketTest">
            </class>
            <class name="io.ctdev.JuiceShopLoginLogoutTest">
            </class>
            <class name="io.ctdev.JuiceShopSignUpTest">
            </class>
            <class name="io.ctdev.RandTest">
            </class>
            <class name="io.ctdev.VerifyInfoAboutProduct">
            </class>
            <class name="io.ctdev.cucumber.runner.TestRunner">
            </class>
        </classes>
    </test>
</suite>